body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: lemonchiffon;
}

h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
    background-color: rgb(211, 202, 124);
}

table, th, td {
    border: 3px solid darksalmon;
    border-collapse: collapse;
    text-align: left;
  }
th, td {
    padding: 10px;
  }

  form div.form-group{
    padding: 10px;
  }

  #add-img label {
    padding-left:26px;
    width:125px;
    text-transform: uppercase;
    display:inline-block
}

.form-control{
  width: 450px;
  height: 30px;
}

.update-btn {
  padding: 10px;
  margin-left: 25px;
  margin-top: 25px;
  width: 100px;
  border: none;
  background-color:lightgreen;
  font-size: medium;
  font-weight: bold;
}

#img-desc{
  height: 45px;
}

a {
  color: blue;
}
a:visited {
  color: rgb(230, 62, 62);
}