<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Add Image</title>
</head>
<body>
<h1>Add a New image</h1>

<form id="add-img" method="POST">
    <div class="form-group">
        <label for="img_title">Title</label>
        <input type="text" name="img_title" placeholder="image title" class="form-control" value="{{ request.form['img_title'] }}">        
    </div>

    <div class="form-group">
        <label for="img_url">URL</label>
        <input type="text" name="img_url" placeholder="image url" class="form-control" value="{{ request.form['img_url'] }}">        
    </div>

    <div class="form-group">
        <label for="img_desc">Description</label>
        <input type="text" id="img-desc" name="img_desc" placeholder="description" class="form-control" value="{{ request.form['img_desc'] }}">        
    </div>

    <div class="form-group">
        <button type="submit" class="update-btn">ADD</button>
    </div>
</form>
</body>
</html>