<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Image List</title>
</head>
<body>
   <h1>Welcome to Image Repo</h1>
   <table>
       <th>Image</th>
       <th>URL</th>
    {%for img_title, img_url, img_desc in rows%}
        <tr>
            <td>{{ img_title }}</td>
            <td> <img src="{{ img_url }}"><a href="{{ img_url }}" target="_blank">
                <div>{{ img_desc }}</div></a></td>
        </tr>
    {% endfor%}
    </table>  
    
</body>
</html>