<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Image List</title>
</head>
<body>
   <h1>Welcome to Image Repo</h1>
   <table>
       <th>Image</th>
       <th>Description</th>
       <th>Action</th>
       {% for img_title, img_url, img_desc, text_url in rows %}
       <tr>
            <td>{{ img_title }}</td>
            <td><a href="{{ img_url }}" target="_blank"><img src="{{ img_url }}"></a><div id="img-descp">{{ img_desc }}</div>
                <a href="{{ text_url }}" id="read_more" target="_blank"> Read More >></a>
            </td>
            <td><a href="/delete/{{ img_title }}" class="update-btn">DELETE</a></td>
        </tr>
   {% endfor %}
    </table> 
    <form action="{{ url_for('add') }}" method="GET"> 
        <input type="submit" class="update-btn" value= "ADD IMAGE">
    </form> 
</body>
</html>